.call-us {
    text-align: center;
    float:left;
    width:100%;
    display: block;
}
.selectedfile i{
    color: #a6a6a6;
    font-size: 10px;
}

.filesize {
    color: #a6a6a6;

}

.selectedfile{
    display: none;
    line-height: 2em;
    height: 30px;
    float:left;
}
.selectedfile i{
    cursor: pointer;
}
.selectedfile img{
    margin-top:-5px;
    width: 18px;
    height: 22px;
}

.deletefile {
    display: none;
    font-size: 10px;
    color: #a6a6a6;
    cursor: pointer;
    padding:10px 5px;
    float:left;
}
.send-mail{
    margin-top: 20px;
}
input.mail{
    width:49%;
    float: left;
    margin-right: 2%;
}
input.phone{
    width:49%;
    float: left;
}
.send-mail .loadfile input[type="file"]{
    position: absolute;
    opacity: 0;
    top:0px;
    width:100%;
    height: 100%;
    cursor: pointer;
}
.send-mail .loadfile{
    cursor: pointer;
    float:left;
    height: 30px;
    position: relative;
}
.send-mail .redbutton{
    margin-top:20px;
    padding:18px 32px;
    display: inline-block;
    float: none;
}
.send-mail .error{
    height: 30px;
    font-size: 14px;
    display: none;
    float:right;
}
.send-mail .visible{
    display: block;
}
.send-mail .error i{
    font-size: 0.7em;
    margin-top:-5px;
}

.contacts h1{
    margin-top: 70px;
    position: absolute;
    z-index: 1;
    width:100%;
}

.contact-info {
    margin-top:150px;
    margin-left: 50px;
    background: white;
    padding:15px 30px;
    box-shadow: 1px 2px 5px 0.00px rgba(0, 1, 1, 0.3);
    position: absolute;
    z-index: 1;
}


.contact-tabs {
    float:left;
    width:100%;
    text-align: center;
}
.contact-tabs li {
    float:left;
}
.contact-tabs li span{
    padding: 14px;
    float:left;
    border:1px solid #E3E3E3;
}

.contact-tabs li span.selected{
    color: #DC2F3A;
}

.contact-tabs li:first-child span{
    border-right:none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.contact-tabs li:last-child span{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
