nav > li a i{ display:inline;}
nav >li:hover .open-menu{
    display: block;
    opacity: 1;
    box-shadow: 0px 0px -15px 0.00px rgba(0, 1, 1, 0.3);
    z-index: 1;
}
.opening-menu-list > .selected{
    display: block;
    float:left;
}
.opening-menu-list [class*=" col-"], .opening-menu-list [class^="col-"]{
    margin:0px;
    padding:0px;
    width:100px !important;
}
.openmenu-nav {
    height:100%;
    float: left;
    padding: 0px;
    margin: 0px;
    background-color: rgba(153, 153, 153, 0.2);
}
.openmenu-nav li{
    float:left;
    width:100%;
    list-style: none;
    text-align: left;
    
}
.openmenu-nav li a{
    color: #333333;
    width:100%;
    float:left;
    font-size: 16px;
    font-weight: 400;
    padding:20px 0px;
    padding-left: 10%;
    padding-right: 5%;
}
.openmenu-nav li.selected a{
    background-color: white;
    color: #dc2430;
    text-decoration: none;
}


.openmenu-nav li i{
    float:right;
    font-size: 0.8em;
}
.openmenu-text > div{
    display: none;   
    float: left;
    width:100%;
    height:100%;
}
.openmenu-text > .selected{
    display: block;
}




.openmenu-description {
    padding:15px;
    float:left;
    width:75%;
    position: absolute;
    bottom: 0px;
    background-color: #f9f9f9;
    border-top:1px solid #ebebeb;
    color: #333333;
    font-size: 16px;
}
.openmenu-description .redbutton{
    float: right;
    margin-right: 20px;
}
.openmenu-description span{
    padding: 10px;
    float:left;
}



.openmenu-text {
float:right;
height:100%;
width: 75%;
}
 .links{
padding-top: 20px;
}
.ourjob .social {
    float:left;

}
.ourjob .social i{
    color: #999999;
}
 .link-block{
    margin-top:20px;
    float:left;
    font-size: 16px;
    width:100%;
    background-color:#fef8f9;
    padding:10px 15px;
    border: 1px solid #F1EFEF;
}
.ourfil img{
    margin-top:30px;
    max-width: 100%;
}
.openmenu-text h1{
    text-align: left;
}
.clientsgeo img{
    float:left;
    max-width: 96%;
    margin-left:2%;
}
.content h3{
    font-size: 18px;
    padding: 0px;
    margin:0px;
    padding-bottom: 5px;
}
.content i{
    font-size: 14.5px;
}
.link-block h3 i{
    font-size: 30px; 
    color: #7d868c;
    
}
.aboutsimtech img{
    margin-top:50px;
    max-width: 100%;
}
.ourteam img{
    margin-top:50px;
    max-width: 100%;
}
#products img{
    margin-top:50px;
    max-width: 100%;
}
.prod-logo{
    float:left;
    width:100%;
    margin-bottom: 20px;
}
